{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ finch.name }}</h5>
        <div class="card-text">
          <p>Age: {{ finch.age }}</p>
          <p>Location: {{ finch.location }}</p>
          <p>Breed: {{ finch.breed }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'finch_update' finch.id %}" class="btn btn-primary"
            >Edit</a
          >
          <a href="{% url 'finch_delete' finch.id %}" class="btn btn-primary"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
