{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ finch.name }}</h5>
        <div class="card-text">
          <p>Age: {{ finch.age }}</p>
          <p>Location: {{ finch.location }}</p>
          <p>Breed: {{ finch.breed }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'finch_update' finch.id %}" class="btn btn-primary"
            >Edit</a
          >
          <a href="{% url 'finch_delete' finch.id %}" class="btn btn-primary"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <form action="{% url 'add_feeding' finch.id %}" method="POST">
      {% csrf_token %} {{ feeding_form.as_p }}
      <input type="submit" class="btn btn-primary" value="Add Feeding" />
    </form>
    <br />
    {% if finch.fed_for_today %}
    <div class="card-panel teal-text center-align">
      {{finch.name}} has been fed all meals for today
    </div>
    {% else %}
    <div class="card text-center">{{finch.name}} might be hungry</div>
    {% endif %}
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th>Date</th>
          <th>Meal</th>
        </tr>
      </thead>
      <tbody>
        {% for feeding in finch.feeding_set.all %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.get_meal_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>{{ finch.name }}'s Toys</h3>
    {% if finch.toys.count %} {% for toy in finch.toys.all %}
    <div class="card">
      <div class="card-body">
        <span class="card-title"> A {{ toy.color }} {{toy.name }} </span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_toy' finch.id toy.id %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Remove" class="btn btn-danger" />
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{finch.name}} has no toys yet 😿</h5>
    {% endif %}
  </div>
  <div class="col">
    <h3>Available Toys</h3>
    {% for toy in toys %}
    <div class="card">
      <div class="card-body">
        <span class="card-title"> A {{ toy.color }} {{ toy.name}} </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_toy' finch.id toy.id %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Add" class="btn btn-success" />
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
