{% extends 'base.html' %} {% block content %}

<h1>Finches List</h1>
<div class="row">
  <div class="col">
    {% for finch in finches %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ finch.name }}</h5>
        <div class="card-text">
          <p>Age: {{ finch.age }}</p>
          <p>Location: {{ finch.location }}</p>
          <p>Breed: {{ finch.breed }}</p>
        </div>
        <a href="/finches/{{finch.id}}" class="btn btn-primary"
          >View {{finch.name}}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
